@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Mochiy+Pop+P+One&family=Neonderthaw&family=Pacifico&family=Roboto&family=Rubik+Beastly&family=Sedgwick+Ave&family=Source+Code+Pro&family=Bangers&family=Creepster&family=Gloria+Hallelujah&family=Lobster+Two&family=Neucha&family=Ole&family=Sacramento&family=Festive&display=swap");
body {
  background-image: url("https://i.pinimg.com/originals/8a/0a/d9/8a0ad9b389a4ce9f5830c585b9e85f70.png");
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  border-top: 1px solid #545458;
  padding-top: 2%;
  padding-bottom: 2%;
}

.swiper {
  display: none;
}

h4 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  padding-left: 0px;
}

body {
  margin: 0;
  font-size: 16px;
}

.container {
  width: 100%;
}

a {
  font-family: Mochiy Pop P One;
}

input[type=range] {
  width: 70%;
  border-bottom: 1px solid #3333;
}

input[type=radio] {
  font-family: Arial;
  margin-bottom: 20px;
}

.nowfontsize {
  font-family: Mochiy Pop P One;
  font-size: 20px;
  display: inline;
  margin-left: 10px;
  line-height: 100px;
}

.fontbox {
  font-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  word-break: break-all;
}

.fontbox li {
  width: 10%;
  min-width: 20%;
}

.fontbox .Comforter, .fontbox .Roboto, .fontbox .Mochiy, .fontbox .Sedgwick, .fontbox .Source, .fontbox .Rubik, .fontbox .Neonderthaw, .fontbox .Pacifico, .fontbox .Lobster, .fontbox .Bangers, .fontbox .Sacramento, .fontbox .Gloria, .fontbox .Festive, .fontbox .Neucha, .fontbox .Ole, .fontbox .Creepster {
  border: 5px solid transparent;
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  color: #fff;
  background-color: rgba(37, 34, 34, 0.6);
}

.fontbox .Comforter:hover, .fontbox .Roboto:hover, .fontbox .Mochiy:hover, .fontbox .Sedgwick:hover, .fontbox .Source:hover, .fontbox .Rubik:hover, .fontbox .Neonderthaw:hover, .fontbox .Pacifico:hover, .fontbox .Lobster:hover, .fontbox .Bangers:hover, .fontbox .Sacramento:hover, .fontbox .Gloria:hover, .fontbox .Festive:hover, .fontbox .Neucha:hover, .fontbox .Ole:hover, .fontbox .Creepster:hover {
  opacity: 0.5;
}

.fontbox .Comforter:focus, .fontbox .Roboto:focus, .fontbox .Mochiy:focus, .fontbox .Sedgwick:focus, .fontbox .Source:focus, .fontbox .Rubik:focus, .fontbox .Neonderthaw:focus, .fontbox .Pacifico:focus, .fontbox .Lobster:focus, .fontbox .Bangers:focus, .fontbox .Sacramento:focus, .fontbox .Gloria:focus, .fontbox .Festive:focus, .fontbox .Neucha:focus, .fontbox .Ole:focus, .fontbox .Creepster:focus {
  opacity: 0.5;
}

.fontbox .Comforter {
  font-family: Comforter;
}

.fontbox .Roboto {
  font-family: Roboto;
}

.fontbox .Mochiy {
  font-family: Mochiy Pop P One;
}

.fontbox .Sedgwick {
  font-family: Sedgwick Ave;
}

.fontbox .Source {
  font-family: Source Code Pro;
}

.fontbox .Rubik {
  font-family: Rubik Beastly;
}

.fontbox .Neonderthaw {
  font-family: Neonderthaw;
}

.fontbox .Pacifico {
  font-family: Pacifico;
}

.fontbox .Lobster {
  font-family: Lobster Two;
}

.fontbox .Bangers {
  font-family: Bangers;
}

.fontbox .Sacramento {
  font-family: Sacramento;
}

.fontbox .Gloria {
  font-family: Gloria Hallelujah;
}

.fontbox .Festive {
  font-family: Festive;
}

.fontbox .Neucha {
  font-family: Neucha;
}

.fontbox .Ole {
  font-family: Ole;
}

.fontbox .Creepster {
  font-family: Creepster;
}

.fontbox .showfontname {
  font-family: 고딕;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.popup {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 1000px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 1000px 0px;
          box-shadow: 0 2px 1000px 0px;
}

.popup ul {
  margin: 1em;
  padding-left: 2.5em;
}

.popup .title {
  border-radius: 15px 15px 0 0;
  min-height: 40px;
  color: #fff;
  background-color: #b66;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

.popup .import_title {
  min-height: 40px;
  color: #fff;
  background-color: #b66;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

.popup .import_title:hover {
  color: #fff;
  background-color: #000;
}

.popup .content {
  font-size: 30px;
  -webkit-padding-start: 0px;
  text-align: center;
}

.popup .import_content {
  display: none;
  padding: 20px;
  font-size: 20px;
  font-family: Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
}

.popup .import_content .import_code {
  font-size: 15px;
}

.popup .cmd {
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
}

.popup .cmd .button {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
}

.popup .cmd .button:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.backon {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.footer {
  width: 100%;
  border-top: 1px solid #545458;
}

.footer .container {
  max-width: 1285px;
  margin: 20px;
}

.footer .container .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding: 2px 0px;
}

.footer .container .first > div {
  padding: 0px 12px;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}

.footer .container .first > div:nth-child(1) {
  border-left: 1px solid #ffffff;
}

.footer .container .second {
  text-align: left;
  font-size: 12px;
  padding: 10px 0px;
}

.footer .container .third {
  text-align: left;
  font-size: 12px;
  padding-bottom: 10px;
}

.fontall {
  display: none;
}
/*# sourceMappingURL=index.css.map */